<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ILCH</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>ch.qos.logback.classic.selector.servlet.ContextDetachingSCL</listener-class>
	</listener>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>ILCH</param-value>
	</context-param>

	<session-config>
		<session-timeout>80</session-timeout>
	</session-config>

 	<env-entry>
		<env-entry-name>logback/context-name</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>ILCH</env-entry-value>
	</env-entry>
	<env-entry>
		<description>URL for configuring logback context</description>
		<env-entry-name>logback/configuration-resource</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>resources/logback.xml</env-entry-value>
	</env-entry>

	<filter>
		<filter-name>LoggerContextFilter</filter-name>
		<filter-class>ch.qos.logback.classic.selector.servlet.LoggerContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoggerContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
	    <filter-name>SessionFilter</filter-name>
	    <filter-class>com.lch.filter.LogFilter</filter-class>
	</filter>

	<filter-mapping>
	    <filter-name>SessionFilter</filter-name>
	    <url-pattern>*.do</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>AppConfig</servlet-name>
		<servlet-class>com.lch.general.appConfig.AppConfigServlet</servlet-class>
		<init-param>
			<param-name>spring.profiles.active</param-name>
			<param-value>OPENSHIFT</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>com.lch.struts.FrontController</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		 <init-param>
        <param-name>chainConfig</param-name>
        <param-value>org/apache/struts/tiles/chain-config.xml</param-value>
    </init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	 <servlet>
	  <servlet-name>ViewStatusMessages</servlet-name>
	  <servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
	</servlet>

<servlet-mapping>
	  <servlet-name>ViewStatusMessages</servlet-name>
	  <url-pattern>/logs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- elFinder File Browser -->

<servlet>
    <servlet-name>elfinder</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <load-on-startup>0</load-on-startup>
</servlet>

<servlet-mapping>
    <servlet-name>elfinder</servlet-name>
    <url-pattern>/elfinder-servlet/*</url-pattern>
</servlet-mapping>

</web-app>
