<html>

<body link="#00FFFF" vlink="#FFFFFF" alink="#008080">

<table border="0" width="100%" style="font-family: Tahoma" style="font-family: Tahoma; font-size: 10pt; color: #FFFFFF">
	<tr>
		<td bgcolor="#224F90">
		<table border="0" width="100%" cellpadding="15" cellspacing="0" style="font-family: Tahoma; font-size: 10pt; color: #FFFFFF">
			<tr>
				<td width="100%" style="color: #FFFFFF" align="right"><b>
				RunningTicker - Child Admin Access Details</b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td bgcolor="#946EA9" align="left" valign="top">
		<table border="0" width="100%" height="100%" cellpadding="55" style="font-family: Tahoma; font-size: 10pt; color: #FFFFFF">
			<tr>
				<td width="100%" height="100%">
				
				<b>Hi,</b>
				<div style="margin-left:5em">
				<p>
					Congratulations!! Now, you have the access to <b>RunningTicker</b> System 
					as a Child Admin. 
					So, time to login and make your ticker running.</p>
				<p>
				Your User name is : ${notificationBean.userId} and Password is : ${notificationBean.password}
				</p>
				<p>
					<b>Hint : </b>If you would like to reset your password : 
					Login and go to Admin DashBoard --&gt; click on Account Settings --> 
					click on Reset password.
				</p>
				
				<br>
				Thanks,<br>
				${notificationBean.name}
				</div>
				</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td bgcolor="#224F90">
		<table border="0" width="100%" cellpadding="15" cellspacing="0">
			<tr>
				<td width="100%" style="color: #C0C0C0; font-size:8pt; font-family:Tahoma" align="center">
				All Rights Reserved. A Product of AlliBilli.com</td>
			</tr>
		</table>
		</td>
	</tr>
</table>

</body>

</html>