
<table border="0" width="100%" height="351" style="font-family: Tahoma">
	<tr>
		<td bgcolor="#224F90">
		<table border="0" width="100%" cellpadding="15" cellspacing="0">
			<tr>
				<td width="100%" style="color: #FFFFFF" align="right"><b>
				<font size="2">Birthday - Report</font></b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		
		
		
		<table border="0" width="669" height="80" cellspacing="4" cellpadding="3" style="font-family: Tahoma; font-size: 10pt">
	<tr>
		<td height="23" width="205" align="center" style="background-color: #D2D2D2">
		<b>Name</b></td>
		<td height="23" width="211" align="center" style="background-color: #D2D2D2">
		<b>Email</b></td>
		<td height="23" width="231" align="center" style="background-color: #D2D2D2">
		<b>DOB</b></td>
	</tr>
	${notificationBean}
</table>


		</td>
	</tr>
	<tr>
		<td bgcolor="#224F90">
		<table border="0" width="100%" cellpadding="15" cellspacing="0">
			<tr>
				<td width="100%" style="color: #C0C0C0; font-size:8pt; font-family:Tahoma" align="center">
				All Rights Reserved. A Product of AlliBilli.com</td>
			</tr>
		</table>
		</td>
	</tr>
</table>

