<html>

<body link="#00FFFF" vlink="#FFFFFF" alink="#008080">

<table border="0" width="100%" height="351" style="font-family: Tahoma; font-size: 10pt; color: #FFFFFF">
	<tr>
		<td bgcolor="#224F90">
		<table border="0" width="100%" cellpadding="15" cellspacing="0" style="font-family: Tahoma; font-size: 10pt; color: #FFFFFF">
			<tr>
				<td width="100%" style="color: #FFFFFF" align="right"><b>${notificationBean.name} had a recommendation to you about RunningTicker  Software Application.</b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td bgcolor="#946EA9" align="left" valign="top">
		<table border="0" width="100%" height="100%" cellpadding="55" style="font-family: Tahoma; font-size: 10pt; color: #FFFFFF">
			<tr>
				<td width="100%" height="100%">
				<b>!!Bingo!!</b><BR><BR>
				<div style="margin-left:5em">

					<font size="2" color="#FFFF00">Let me introduce about RunningTicker . Helping hands are purer than saying lips!! <BR> </font>
					
					<p>
					<BR>
					Well, We [${notificationBean.businessName}] use www.RunningTicker.com to manage timesheets and for 
					efficient communication system with our employees. 
					Try a live demo using "Try Live Demo" link provided in the website.
					</p>
					<p>
					<BR>
					You can connect at <a href="http://www.facebook.com/RunningTicker">Facebook</a> for more information <br>
					<a target="_blank" href="http://www.runningticker.com/genericForwardAction.do?forwardTo=generic/aboutUs.jsp">Click here</a> to know about RunningTicker.<br>
					<a target="_blank" href="http://www.runningticker.com/genericForwardAction.do?forwardTo=demos/demo.jsp">Click here</a>
					to know see Screen shots.<br>
					<a target="_blank" href="http://www.runningticker.com/pdf/ILCH_FEATURES.pdf">Insight Features</a></p>
					<br>Watch the Video here :<br>
					<iframe width="420" height="315" src="//www.youtube.com/embed/xALTRTrwnyo" frameborder="0" allowfullscreen></iframe>
					<p>&nbsp;</div>
				<br><br>
				Thank you.<br>${notificationBean.name}</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td bgcolor="#224F90">
		<table border="0" width="100%" cellpadding="15" cellspacing="0">
			<tr>
				<td width="100%" style="color: #C0C0C0; font-size:8pt; font-family:Tahoma" align="center">
				All Rights Reserved. A Product of AlliBilli.com</td>
			</tr>
		</table>
		</td>
	</tr>
</table>

</body>
