<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>For Live Updates Connect us on F</title>
<base target="_blank">
</head>

<body>

<table border="0" style="font-family: Tahoma; font-size: 10pt">
<tr>
				<td colspan="1" height="2" bgcolor="#A8B8C8"></td>
			</tr>
	<tr>
		<td>
		<table border="0" width="100%" id="table1" cellspacing="0" height="102">
			
			<tr>
				<td>

				<p align="center">

				<a target="_blank" href="http://www.runningticker.com/">

				<img border="0" src="http://www.runningticker.com/onlineLetter/RunningTicker.jpg" width="500" height="68" alt="RunningTicker.com -- Loading Image...." lowsrc="RunningTicker.com%20--%20Loading%20Image...." longdesc="RunningTicker.com -- Loading Image...."></a></p></td>
				<td height="90" width="160">

				<a target="_blank" href="http://www.runningticker.com/">

				<img border="0" src="http://www.runningticker.com/onlineLetter/justIlchCSS.jpg" width="160" height="50" lowsrc="RunningTicker.com%20--%20Loading%20Image...." longdesc="RunningTicker.com -- Loading Image...." alt="RunningTicker.com -- Loading Image...."></a></td>
			</tr>


		</table>
		</td>
	</tr>
	<tr><td colspan="1" height="2" bgcolor="#A8B8C8"></td></tr>
	<tr>
		<td>
		<table border="0" style="font-family: Tahoma; font-size: 10pt; color:#434B62">
			<tr>
				<td width="701">
				<a target="_blank" href="http://www.runningticker.com/genericForwardAction.do?forwardTo=demos/demo.jsp" style="text-decoration:none">Watch Video</a> <font color="#CDD7E0">|</font>
				<a target="_blank" href="http://www.runningticker.com/genericForwardAction.do?forwardTo=generic/aboutUs.jsp" style="text-decoration:none">About Us</a> 
				<font color="#CDD7E0">|</font> 
				<a target="_blank" href="http://www.runningticker.com/pdf/ILCH_FEATURES.pdf" style="text-decoration:none" style="text-decoration:none">List Application Features 
				- PDF</a> 
				<font color="#CDD7E0">|</font> 
				<a target="_blank" href="http://www.runningticker.com/genericForwardAction.do?forwardTo=demos/member/demo.jsp" style="text-decoration:none">Screen 
				Shots</a> <font color="#CDD7E0">|</font> 
				<a target="_blank" href="http://www.runningticker.com/footerFunct.do?parameter=contactInformation" style="text-decoration:none">Support</a>
				<font color="#CDD7E0">|</font> 
				<a style="text-decoration:none" href="http://www.runningticker.com/onlineLetter/index.htm">See Online Version</a></td>
				<td width="256" nowrap >
				<p align="right">
				<a target="_blank" href="https://www.facebook.com/RunningTicker" style="text-decoration:none">For Live Updates Connect Us On Facebook</a> </td>
				<td width="27">
				
				<a href="https://www.facebook.com/RunningTicker">
				
				<img border="0" src="http://www.runningticker.com/images/f_logo.png" width="25" height="25" align="right"></a></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td height="352" width="813">
		<a target="_blank" href="http://www.runningticker.com/">
		<img border="0" src="http://www.runningticker.com/onlineLetter/AnimatedRevolution.GIF" width="1003" height="416" lowsrc="RunningTicker.com%20--%20Loading%20Image...." longdesc="RunningTicker.com -- Loading Image...." alt="RunningTicker.com -- Loading Image...."></a></td>
	</tr>
	<tr>
		<td height="131" width="813">
		<table border="0" id="table2" style="font-family: Tahoma; font-size: 10pt" width="1004">
			<tr>
				<td height="195" width="688">
				<p align="justify"><b>Who we Are?</b></p>
				<p align="justify">
				<dir type="circle">
	<p align="justify">We are a web based company providing a timesheet and 
				communications system service for small and medium sized 
				enterprises like you. Our main aim is to provide our customers 
				with a fast, easy, reliable and powerful software application. 
				Our Philosophy is simple - we want to provide you with the best 
				possible timesheet solution in a format that is easy to use by 
				all and affordable compared with what you are using now for your 
				business while establishing additional great communication with 
				your employees.</p>
	<p align="justify">We are one of the leading online timesheet solution systems 
				available. We are dedicated to 
	<b style="color: rgb(80, 0, 80); font-family: arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);">
	provide an efficient, effective time tracking, time sheet management &amp; 
	communication system</b>, specifically designed for your business.</p>
				</dir>
				</td>
					<td height="195" width="306">
				<p align="center">
				<a target="_blank" href="http://www.runningticker.com/">
				<img border="0" src="http://www.runningticker.com/onlineLetter/aboutUs.png" width="256" height="141" lowsrc="RunningTicker.com%20--%20Loading%20Image...." longdesc="RunningTicker.com -- Loading Image...." alt="RunningTicker.com -- Loading Image...."></a></td>			</tr>
		</table>
		
		
		</td>
			<tr><td colspan="1" height="2" bgcolor="#A8B8C8"></td></tr>
	</tr>
		<tr>
		<td height="131" width="813">
		
		
		
		<table border="0" id="table2" style="font-family: Tahoma; font-size: 10pt" width="1004">
			<tr>
				<td height="195" width="259">
				<p align="center">
				<a target="_blank" href="http://www.runningticker.com/">
				<img border="0" src="http://www.runningticker.com/onlineLetter/features.png" width="128" height="128" lowsrc="RunningTicker.com%20--%20Loading%20Image...." longdesc="RunningTicker.com -- Loading Image...." alt="RunningTicker.com -- Loading Image...."></a></td>
				<td height="195" width="735">
				<p align="justify"><b>Few of its Quick Features :</b></p>
				<p align="justify">
				<dir type="circle">
	<p align="justify">Application with your own logo on it that looks like your 
	own product.</p>
	<p align="justify">Super Simple Timesheets with custom configurations.</p>
	<p align="justify">Quick Custom Notifications to Your Employees.</p>
	<p align="justify">Custom Timers that can do the Job on behalf of you and 
	automated Birthday Notifications.</p>
	<p align="justify">Employers can create Child Admins with limited features. 
	Single glance of Invoice While approving timesheets.</p>
	<p align="justify">Immigration Details expiration Notifications &amp; Custom PDF 
	Reports and many many more..........</p>
				</dir>
				</td>
			</tr>
		</table>
		
		
		</td>
	</tr>
		<tr><td colspan="1" height="2" bgcolor="#A8B8C8"></td></tr>
	<tr>
		<td height="131" width="813">
		
		
		
		<table border="0" id="table2" style="font-family: Tahoma; font-size: 10pt" width="1004">
			<tr>
				<td height="195" width="774">
				<p align="justify"><b>Our Support :</b></p>
				<p align="justify">
				<dir type="circle">
	<p align="justify">Our friendly staff members are available over the phone to provide you with answers and help 7 days a week, 365 days a year with any questions or situations that may arise - Support is free and part of the service.
	</p>
				</dir>
				</td>
				<td height="195" width="220">
				<p align="center">
				<a target="_blank" href="http://www.runningticker.com/">
				<img border="0" src="http://www.runningticker.com/onlineLetter/support.png" width="160" height="160" lowsrc="RunningTicker.com%20--%20Loading%20Image...." longdesc="RunningTicker.com -- Loading Image...." alt="RunningTicker.com -- Loading Image...."></a></td>
			</tr>
		</table>
		
		</td>
	</tr>
	<tr><td colspan="1" height="2" bgcolor="#A8B8C8"></td></tr>
	<tr>
		<td height="131" width="813">
		
		<table border="0" id="table2" style="font-family: Tahoma; font-size: 10pt" width="1004">
			<tr>
				<td height="195" width="258">
				<p align="center">
				<a target="_blank" href="http://www.runningticker.com/">
				<img border="0" src="http://www.runningticker.com/onlineLetter/moreinfo.png" width="160" height="160" lowsrc="RunningTicker.com%20--%20Loading%20Image...." longdesc="RunningTicker.com -- Loading Image...." alt="RunningTicker.com -- Loading Image...."></a></td>
				<td height="195" width="736">
				<p align="justify"><b>For More Information :</b></p>
				<p align="justify">
				<dir type="circle">
	<p align="justify">Visit our website :
	<a href="http://www.RunningTicker.com">www.RunningTicker.com</a></p>
	<p align="justify">Or email us at
	<a href="mailto:suppert@runnningticker.com">demos@runnningticker.com</a>&nbsp;for a customized product demonstration.</p>
	<p align="justify">Contact us at <a href="mailto:suppert@runnningticker.com">support@runnningticker.com</a> 
	for all other enquires.</p>
				</dir>
				</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr><td colspan="1" height="2" bgcolor="#CCCCCC"></td></tr>
	<tr><td colspan="1">
		<p align="center">© All Rights Reserved. A Product of AlliBilli Inc., We 
		Develop and Test in United States.</td></tr>

	<tr><td colspan="1" height="2" bgcolor="#CCCCCC"></td></tr>


</table>

</body>

</html>